<section class="hero is-fullheight has-text-centered has-background-white-ter" id="why">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="https://cdn.pixabay.com/photo/2024/01/27/18/24/squirrel-8536537_960_720.jpg" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <ol>
                        <li>Sign in</li>
                        <li>Connect to Mastodon</li>
                        <li>Setup Subscription</li>
                    </ol>
                    <br/>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.app-url}}"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Try Now</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#how"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Read More</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
