<section class="hero is-fullheight has-text-centered has-background-white-ter" id="why">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure>
                        <img src="https://cdn.pixabay.com/photo/2010/11/26/canyon-203_960_720.jpg" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>
                        It's easy to get started
                    </p>
                    <br/>
                    <ol>
                        <li>Connect Mastodon account</li>
                        <li>Setup payment, either $4/month or $42/year</li>
                        <li>Enjoy!</li>
                    </ol>
                    <br />
                    <p>
                        <a href="/mastodon">Mastodon</a> is the only supported social network 
                        at this time. <a href="https://docs.google.com/forms/d/e/1FAIpQLScHppU4PAAjxqkJSIqY78xxEdxAWnnryZKvWGvqcoxJBF9VeA/viewform?usp=sf_link">Tell us</a> what you think.
                    </p>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.app-url}}"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Try Now</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
