<section class="hero is-fullheight has-text-centered has-background-white-ter" id="why">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="https://cdn.pixabay.com/photo/2024/01/27/18/24/squirrel-8536537_960_720.jpg" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>
                        Social media apps like Instagram, Twitter/X, or Facebook all have an algorithm that 
                        determines what you see and who you interact with.
                    </p>
                    <br/>
                    <p>
                        Fossil optimizes for you. Focus your time on what matters to you so you can spend less
                        time on social media, and get more out of it.
                    </p>
                    <br/>
                    <div class="container columns is-centered">
                        <div>
                            <a href="https://app.fossil-social.com"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Try Now</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#how"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Read More</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
