<section class="hero is-fullheight has-text-centered has-background-white-ter" id="why">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure>
                        <img src="https://cdn.pixabay.com/photo/2021/08/18/19/02/trees-6556336_960_720.jpg" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p style="font-weight: bold; font-size: 1.5rem">
                        Doomscrolling again?
                    </p>
                    <br/>
                    <p>
                        Twitter and Instagram have an algorithm that tries to keep your
                        attention on the app.
                    </p>
                    <br/>
                    <p>
                        There's a lot of good info tied up in social media. It's hard to
                        find, and it doesn't help that these networks <i>need</i> it to
                        be hard to find.
                    </p>
                    <br/>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.app-url}}"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Try Now</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#how"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Read More</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
